<html>

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        font-size: 1em;
    }
    input[type=button], input[type=submit], input[type=reset] {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        cursor: pointer;
        width: 100%;
        font-size: 1em;
    }

    .container {
        width: 30em;
        margin: 0 auto;
    }

    .header {
        text-align: center;
        font-size: 2em;
        font-weight: lighter;
        padding: 2em;
    }

    .error {
        color: red;
    }

    .answer {
        font-weight: bold;
        font-size: 1.5em;
    }
</style>

<body>
<div class="container">
    <div class="header">
        Yaya Calculator
    </div>

    <form action="/" method="post">
        <label>
            Original Value:
        </label>
        <input type="text" name="old" value="{{ .Old }}" autofocus/>
        <br>
        <label>
            New Value:
        </label>
        <input type="text" name="new" value="{{ .New }}"/>
        <br>
        {{ if .Err }}
            <br>
            <div class="error">{{ .Err }}</div>
        {{ end }}
        <input type="submit" value="Calculate"/>
    </form>
    <div class="answer">
        {{ if .Answer }}
            Savings: {{ .Answer }}%
        {{ end }}
    </div>
</div>
</body>

</html>